* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/* Header section styling */

.header-container {
    background-color: #F8F8F8;
}

.navigation,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    gap: 84px;
}

.logo img{
    width: 120px;
    height: auto;
}

.links {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #F8F8F8;
}

.hero-text h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 10px;
}

.blue-text {
    color: #5C98F2;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-banner img {
    width: 450px;
    height: auto;
    border-radius: 5%;
}

.sign-up {
    background-color: #5C98F2;
    display: inline-block;
    padding: 16px 28px;
    border-radius: 8%;
    color: #F8F8F8;
}

/* Top Destination section styles */

.destination-title {
    text-align: center;
    margin-top: 48px;
}

.destination-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.destination {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin: 16px 0;
}

.destination-img {
    width: 350px;
    height: auto;
}